<div class="row">
  <div class="col-9">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @user_friends.each do |friend| %>
          <tr>
            <td><%= friend.first_name %></td>
            <td><%= friend.last_name %></td>
            <td>
              <button type="button" class="btn btn-sm btn-warning">
                Deixar de seguir
              </button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>